/rust/ufo_scraper/target
/rust/ufo_scraper/.idea
/rust/ufo_geocoder/target
/rust/ufo_geocoder/.idea
/rust/ufo_sighting_formatter/target
/rust/ufo_sighting_formatter/.idea
/ufo_frontend/ufo-map/node_modules
